/*my-socnet-style.css */
/* Own stylesheet for SocNet */
#container {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  padding-left: 20px;
  background-color: #FFFFFF; /* beige */
  font-color: #2A2929; /* dark grey */
  margin: 10px;
}
a:link{
 

 }
a:hover {
  
}
h1 {
   
   
   
}
form {
  
  
  
  
  
}
label {
  
  
  
  
  
}
.inputs {
  
  
  
  
}
